<%= form_with(model: @article, local: true) do |form| %>
  <div class="field">
    <%=form.label :title %>
    <%=form.text_field :title %>
  </div>

  <div class="field">
    <%=form.label :content %></br>
    <%=form.rich_text_area :content %>
  </div>

  <div class="field">
    <%=form.label :category_elements %>
      <div class="row">
        <% @categories.each do |category| %>
          <label class="col-6 col-sm-5">
            <%=form.check_box :category_elements, {multiple: true}, category.id, nil %>
              <span class="badge badge-pill padding" style="background-color: <%= category.color %>" >
                <%= link_to category.title, category, class: "text-white" %>
              </span>
          </label>
        <% end %>
      </div>
  </div>

  <div class="margin-top" >
    <%=form.submit %>
  </div>

  <p>
    <%=link_to "Inicio", root_path %>
  </p>
<% end %>