<nav class="nav bg-light padding">
  <li class="nav-item">
    <%= link_to "Inicio", root_path, class: "nav-link" %>
  </li>

  <li class="nav-item">
    <%= link_to "Articulos", articles_path, class: "nav-link" %>
  </li>

  <li class="nav-item">
    <%= link_to "Escribir", new_articles_path, class: "nav-link" %>
  </li>

  <!-- Si hay usuario con sesion iniciada -->
  <% if user_signed_in? %>
    <li class="nav-item">
      <!-- Mostrar en NAVBAR cerrar sesi贸n -->
      <%= link_to "Cerrar Sesi贸n", destroy_user_session_path, method: :delete, class: "nav-link" %>
    </li>
  <% else %>
    <li class="nav-item">
      <!-- Si no hay inicio sesi贸n por usuario -->
      <!-- Mostrar en NVABAR "Iniciar Sesion" -->
        <%= link_to "Iniciar Sesi贸n", new_user_session_path, class: "nav-link" %>
    </li>
    <li class="nav-item">
      <!-- Mostrar en NVABAR "Registro" -->
      <%= link_to "Registro", new_user_registration_path, class: "nav-link" %>
    </li>
  <% end %>
</nav>